html {
    font-size: 1px;
}

p {
    margin: 0;
}

body {
    cursor: url(../img/cursor\ \(3\).cur), default;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 7px;
}

.pls:hover {
    color: #f5ed08;
}

.none-bruh a {
    text-decoration: none;
    font-size: 14rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: right;
}



.bob {
    left: 4%;
    top: 45%;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #151517;
}

.bob:before {
    content: '<';
color: #ffffff;
font-size: 34rem;
}

.bob2::after {
    content: '>';
color: #ffffff;
font-size: 34rem;
}

.bob2 {
    right: 4%;
    top: 45%;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #151517;
}

.bob2:hover,
.bob:hover {
    background-color: #f5ed08;
}

.none-bruh a:hover {
    border-bottom: 4px solid yellow;
}

.pls {
    font-size: 14rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.pls img {
    vertical-align: bottom;
}

.top-menu {
    background-color: black;
    color: #ffffff;
    padding: 10px 0;
}

.top-menu p {
    margin: 0;
}

.menu h1 {
    font-size: 30rem                                               ;
color: #151517;
font-weight: 700;
font-family: "Roboto Slab";
    margin: 0;
}

.menu  {
    font-size: 30rem;
    padding: 30px 0;
    text-align: center;
    color: black;
    background-color: #ffffff;
}

.center {
    padding-bottom: 60px;
    padding-top: 60px;
    display: flex;
}

.card {
    text-align: center;
    border: transparent solid;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    width: 270px;
    padding-bottom: 45px;
    border-radius: 5px;
}

.card:hover {
    border: #f5ed08 solid;
}

.now-center {
    position: relative;
    color: #ffffff;
    text-align: center;
    background-image: url(/img/fruit.jpg);
    background-size: cover;
    padding: 5vw 0 5vw 0;
}

.now-center h2 {
    font-size: 50rem;
letter-spacing: 2px;
line-height: 60px;
text-transform: uppercase;
color: #ffffff;
font-weight: 700;
font-family: "Roboto Slab";
text-align: center;
}

.hamm {
    position: relative;
    display: none;
    width: 25px;
    height: 25px;
}

.hamm span,
.hamm span:before,
.hamm span:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    top: 50%;
    left: 0;
    background-color: #fff;
}

.hamm span:before {
    top: 10px;
}

.hamm span:after {
    top: -10px;
}

.aaa {
    margin: 45px 0;
font-size: 18rem;
line-height: 21px;
color: #ffffff;
font-weight: 300;
font-family: "Roboto";
text-align: center;
}

.ooo {
    width: 260px;
height: 64px;
font-size: 14rem;
line-height: 21px;
color: #878787;
font-weight: 400;
font-family: "Roboto";
text-align: center;
}

.nnn{
    width: 260px;
height: 64px;
font-size: 14rem;
line-height: 21px;
color: #878787;
font-weight: 400;
font-family: "Roboto";
text-align: center;
}

.yyy {
    width: 260px;
height: 64px;
font-size: 14rem;
line-height: 21px;
color: #878787;
font-weight: 400;
font-family: "Roboto";
text-align: center;
}

.iii {
    width: 260px;
height: 64px;
font-size: 14rem;
line-height: 21px;
color: #878787;
font-weight: 400;
font-family: "Roboto";
text-align: center;
}

.kkk {
font-size: 16rem;
line-height: 24px;
color: #878787;
font-weight: 300;
font-family: "Roboto";
text-align: center;
}

.lll {
    margin: 30px;
font-size: 16rem;
line-height: 24px;
color: #ffffff;
font-weight: 300;
font-family: "Roboto";
text-align: center;
}

.new:hover {
    color: black;
    background-color: #ffffff;
    border: solid yellow 3px ;
}

.new {
    border: 3px transparent solid;
    color: black;
    padding: 21px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    border-radius: 5px;
    width: 240px;
    height: 60px;
    border-radius: 5px;
    background-color: #f5ed08;
    box-sizing: border-box;
    font-size: 18rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}


.menu li {
    text-align: center;
}

.now-end {
    padding: 50px 0;
    text-align: center;
    background-color: #f1f1f3;
}

.kllkhj h2 {
    font-size: 36rem;
line-height: 46px;
color: #151517;
font-weight: 700;
font-family: "Roboto Slab";
text-align: center;
}

.top-button {
    color: #f1f1f3;
    text-align: center;
    background-image: url(../img/salat-and-fruit.jpg);
    padding: 45px 0 60px 0;
}



.exe,
.door {
    text-align: center;
}

.exe a,
.door a {
    display: inline-block;
    font-size: 14rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px;
   padding: 15px;
    text-decoration: none;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    width: 150px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #f5ed08;
}

.door {
    background-color: #ffffff;
    padding-bottom: 45px;
}

.exe a:hover,
.door a:hover {
    background-color: #f5ed08;
}

.exe a {
    width: 170px;
}

.exe {
    padding-top: 45px;
    padding-bottom: 45px;
}

.koka:hover {
    border: solid #f5ed08 3px;
    color: black;
    background-color: #ffffff;
}

.koka {
    color: black;
    padding: 13px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 3px transparent solid;
    border-radius: 5px;
    background-color: #f5ed08;
    box-sizing: border-box;
    font-size: 18rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}



.low-menu {
    text-align: center;
}

.low-menu h2 {
    font-size: 36rem;
line-height: 46rem;
color: #151517;
font-weight: 700;
font-family: "Roboto Slab";
text-align: center;
}

.plsa a{
    text-decoration: none;
    font-size: 14rem;
    color: #f1f1f3;
    font-weight: 400;
    font-family: "Roboto";
}

.pleaseo a {
    text-decoration: none;
    font-size: 14rem;
color: #f1f1f3;
font-weight: 400;
font-family: "Roboto";
}

.door {
    display: inline-flex;
    color: black;
    border-radius: 5px;
}


.low-menu ul {
    padding: 100px;
    text-align: center;
}


.dishes {
    display: flex;
    justify-content: center;
}

.dishes {
    flex-wrap: wrap;
}

.dishes img {
    width: 20%;
    min-width: 290px;
}

.end {
    background-color: #f1f1f3;
    text-align: center;
    padding: 20px 0 65px; 
}

.end h2 {
    font-size: 36rem;
line-height: 46px;
color: #151517;
font-weight: 700;
font-family: "Roboto Slab";
text-align: center;
}

.hi {
    max-width: 727px;
font-size: 15rem;
line-height: 24px;
position: relative;
color: #878787;
font-weight: 300;
font-family: "Roboto";
text-align: center;
    padding: 30px;
    display: inline-block;
    background-color: #ffffff;
}

.hi:before {
    content: '' ;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    bottom: -5px;
}

.artem {
    color: #ffffff;
    display: block;
}

.artem h2 {
    font-size: 30rem;
color: #ffffff;
font-weight: 700;
font-family: "Roboto Slab";
} 

.artem  p{
    font-size: 13rem;
line-height: 24rem;
color: #878787;
font-weight: 300;
font-family: "Roboto";
}

.boba h3 {
    font-size: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #f1f1f3;
font-weight: 700;
font-family: "Roboto Slab";
}

.bu {
    color: dimgray;
}

.end-menu {
    display: block;
}

.boba {
    background-color: black;
    color: #fff;
    padding: 45px 0;
}
 .boba .wrapper {
    justify-content: space-between;
    row-gap: 30px;

    display: flex;
 }

.pa {
    color: #ffffff;
}

.what li {
    margin-bottom: 7px;
}

.what a {
    font-size: 14rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.what a:hover {
    color: yellow;
}


.pi {
    color: #ffffff;
}

.bruh a:hover {
    background-color: #f5ed08;
}

.bruh img {
    width: 100%;
}

/* .bruh {
    position: relative;
    min-height: 500px;
    background-image: url(/img/map.jpg);
    background-position: center;
    background-size: cover;
}

.map-info {
    width: 300px;
    height: 170px;
    color: #f5ed08;
    position: absolute;
    top: calc(65% - 150px);
    left: calc(48% - 85px);
} */

.py {
    color: #ffffff;
}

.la {
    padding: 15px;
    font-size: 13rem;
line-height: 24px;
color: #878787;
font-weight: 300;
font-family: "Roboto";
    font-size: 14rem;
letter-spacing: 1px;
text-transform: uppercase;
color: dimgray;
font-weight: 700;
font-family: "Roboto";
text-align: center;
    border-radius: 5px;
    border: 2px solid dimgray;
}

.polands {
    padding: 20px 0;
}

.polands img {
    border: solid transparent 2px;
    border-radius: 50%;
}

.polands img:hover {
    border-color: #f5ed08;
}

.lo {
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.obkakalca {
    font-size: 14rem;
color: black;
font-weight: 700;
font-family: "Roboto Slab";
text-align: center;
}

.obkakalca h3 {
    margin: 0;
}

.card h3{
    font-size: 18rem;
color: #151517;
font-weight: 700;
font-family: "Roboto Slab";
text-align: center;
}

.ap h6{
    font-size: 13rem;
line-height: 24px;
color: #878787;
font-weight: 300;
font-family: "Roboto";
text-align: center;
margin: 0;
    left: 4%;
    top: 10%;
}
.wow-you img {
    vertical-align: middle;
}

.wow-you a {
    margin: 7px;
    color: #ffffff;
    display: inline-block;
    padding: 10px 0;
}

.wow-you a:hover {
    color: yellow;
}

.wow-you {
    font-size: 14rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.col {
    width: 270px;
}

@media screen and (max-width: 1203px) {
    .boba .wrapper,
    .center {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 810px) {

    .hamm {
        display: block;
    }

    html {
        font-size: 0.8px;
    }
    .adress {
        display: none;
    }

    .none-bruh {
        display: none;
        justify-content: center;
    }
}

@media screen and (max-width: 1203px) {

    .door {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 776px) {
    

}
